Source: golang-github-linuxdeepin-go-gir
Section: devel
Priority: extra
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 10), dh-golang, golang-any,
 libgudev-1.0-dev,
 libglib2.0-dev,
 libflatpak-dev,
 libgdk-pixbuf2.0-dev,
 libpango1.0-dev,
 libcairo2-dev,
 libgtk-3-dev
Standards-Version: 4.0.0
Homepage: https://github.com/linuxdeepin/go-gir
XS-Go-Import-Path: github.com/linuxdeepin/go-gir
Testsuite: autopkgtest-pkg-go

Package: golang-github-linuxdeepin-go-gir-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Go bindings based on GObject-Introspection

Package: golang-github-linuxdeepin-go-gir-gudev-1.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libgudev-1.0-dev
Description: go bindings for the GUdev library

Package: golang-github-linuxdeepin-go-gir-glib-2.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libglib2.0-dev
Description: go bindings for the GLib library

Package: golang-github-linuxdeepin-go-gir-flatpak-1.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libflatpak-dev
Description: go bindings for the Flatpak library

Package: golang-github-linuxdeepin-go-gir-gdkpixbuf-2.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libgdk-pixbuf2.0-dev
Description: go bindings for the GDK Pixbuf library

Package: golang-github-linuxdeepin-go-gir-pango-1.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libpango1.0-dev
Description: go bindings for the Pango library

Package: golang-github-linuxdeepin-go-gir-cairo-1.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libcairo2-dev
Description: go bindings for the Cairo library

Package: golang-github-linuxdeepin-go-gir-gtk-3.0-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, golang-github-linuxdeepin-go-gir-dev, libgtk-3-dev
Description: go bindings for the GTK library

